.links{
 list-style: none;
 display:inline-flex;
 margin-left: 12cm;
 text-align: right;
}
li{
    margin-left: 1cm;
    border-radius: 5cm;
    padding:0.5cm;
    text-decoration-color: rgb(192, 188, 202)6);
    display: flex;
}
#option{
    color: aliceblue;
}
li:hover{
    background-color: rgb(120, 91, 173);
    
}
#inquest{
    height: 1.5cm;
    display: inline-flex;

}
.nav-bar{
    background-color: rgb(36, 36, 36);
    padding-left: 1cm;
}

body{
    background-image: url('../Assets/back.jpeg');
    background-size: cover ;
    background-repeat: no-repeat;
}