.container-fluid{
    position: absolute;
    flex-shrink: 1;
}

li{
    margin-left: 1cm;
    border-radius: 5cm;
    padding:0.5cm;
    opacity: 0.5;
    flex-shrink: 1;
    color: floralwhite;
}
.nav{
    position: relative;
    float:right;
    flex-shrink: 1;
}
#option{
    color: aliceblue;
    float:right;
    flex-shrink: 1;
}
li:hover{
    background-color: rgb(101, 47, 172);
    
}
#inquest{
    height: 1.5cm;
    flex-shrink: 1;
}


body{
    background-image:url('../Assets/sample.jpg')
}

@media (max-width:768px){
    body{
        background-image:url('../Assets/sample.jpg');
        background-repeat: no-repeat;
        }
    #inquest{
        margin-left: 7cm;
        
    }
    li:hover{
        background-color: rgb(8, 8, 8);
    }
}